
# Serveur
PORT=5000
NODE_ENV=development
APP_URL=http://localhost:5173

# MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=marsai

# JWT
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d
MAGIC_LINK_JWT_SECRET=your_magic_link_secret
MAGIC_LINK_EXPIRES_IN=15m
SESSION_JWT_SECRET=your_session_secret

# Admin local
ADMIN_EMAIL=admin@example.com
ADMIN_ENV_TOKEN=admin_token_local_tres_long_a_remplacer

# Brevo (email transactionnel)
BREVO_API_KEY=xkeysib-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-XXXXXXXXXXXXX
BREVO_SENDER_EMAIL=contact@example.com
BREVO_SENDER_NAME=MarsAI

# Scaleway S3 Configuration
SCALEWAY_ACCESS_KEY=SCWXXXXXXXXXXXXXXXXXX
SCALEWAY_SECRET_KEY=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
SCALEWAY_ENDPOINT=https://s3.fr-par.scw.cloud
SCALEWAY_BUCKET_NAME=bucket-name
SCALEWAY_REGION=fr-par
SCALEWAY_FOLDER=grp2

# DeepL
DEEPL_API_KEY=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx:fx

#Youtube API
YT_CLIENT_ID=000000000000-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
YT_CLIENT_SECRET=GOCSPX-xxxxxxxxxxxxxxxxxxxxxxxx
YT_REDIRECT_URI=http://localhost:5000/api/youtube/oauth/callback
YT_REFRESH_TOKEN=1//00xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
YT_UPLOAD_PRIVACY=unlisted